/*HEADER*/
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; 
}

header {
  background: #b0cbab;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: column; 
}

header nav ul {
  float: right; 
}

header nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px; 
}

header nav ul li a {
  color: #ffffff;
  font-size: Verdana, Geneva, Tahoma, sans-serif;
  padding: 7px 13px;
  border-radius: 3px;
  align-items: right; 
}

li a.active, li a:hover {
  background: #a6c0a1; 
}

header nav img {
  float: left;
  width: 140px;
  height: 75px;
  padding: 10px; 
}

/*CARDS*/
.card {
  position: relative;
  display: grid;
  place-content: center;
  width: 300px;
  height: 200px;
  align-content: center;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  overflow: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-box-shadow: 0 0 0 5px #ffffff80;
  box-shadow: 0 0 0 5px #ffffff80;
  -webkit-transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
}

.card img {
  width: 300px;
  fill: #333;
  -webkit-transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
}

.card:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-box-shadow: 0 8px 16px rgba(184, 234, 197, 0.2);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2); 
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f2f2f2;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: bottom;
  -ms-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
}

.card:hover .card__content {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg); 
}

.card__title {
  margin: 0;
  font-size: 18px;
  color: #333;
  font-weight: 700; 
}

.card__description {
  margin: 10px 0;
  font-size: 12px;
  color: #777;
  line-height: 1.4;
  align-items: center; 
}

@media (max-width: 768px) {
  /* Index */
  /* Header */
  
  .nav__toggle {
    display: none;
  }

  .nav__menu {
    flex-direction: row; 
  }
 
  .nav__menuli {
    display: block; 
  }

  nav ul li a {
    font-size: 10px; 
  }

  header nav img {
    width: 100px;
    height: 60px;
    margin-top: 8px; 
  }
 
   /* Texto de Introduccion */
  .texto-introduccion h1 {
    font-size: 30px; }
  .texto-introduccion p {
    font-size: 12px; }
  .texto-introduccion img {
    width: 300px; 
  }

  /* Cartas con animacion*/
  .card {
    position: relative;
    display: grid;
    place-content: center;
    width: 180px;
    height: 180px;
    align-content: center;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    overflow: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-box-shadow: 0 0 0 5px #ffffff80;
    box-shadow: 0 0 0 5px #ffffff80;
    -webkit-transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
  }
  
    .card img {
    width: 200px;
    fill: #333;
    -webkit-transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
  }

  .card:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 0 8px 16px rgba(184, 234, 197, 0.2);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2); 
  }
  
    .card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #f2f2f2;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   }
  
    .card__title {
    margin: 0;
    font-size: 12px;
    color: #333;
    font-weight: 700; 
  }
  
    .card__description {
    margin: 10px 0;
    font-size: 8px;
    color: #777;
    line-height: 1.4;
    align-items: center; 
  }
  
    /* Footer */
  footer img {
    height: 40px;
    width: 40px; 
  }
  
    /* Nosotros Page */
  .nosotros img {
    width: 300px; }
  .texto-nosotros h1 {
    font-size: 25px; }
  .texto-nosotros p {
    font-size: 12px; }
  .texto-introduccion img {
    width: 300px; 
  } 
}

/*SOBRE MI PAGE*/
.card-me {
  height: 312px;
  width: 400px;
  position: relative;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 16px;
  box-shadow: 0 0 20px 8px #d0d0d0;
  overflow: hidden; 
}

/*Image*/
.card-image-me {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  background: #0a3394;
  background: linear-gradient(to top, #0a3394, #4286f4); 
}

/*Description */
.card-description-me {
  display: flex;
  position: absolute;
  gap: .5em;
  flex-direction: column;
  background-color: #f5f5f5;
  color: #212121;
  height: 70%;
  bottom: 0;
  border-radius: 16px;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 1rem; 
}

/*Text*/
.text-title-me {
  font-size: 1.3rem;
  font-weight: 700; 
}

.text-body-me {
  font-size: 1rem;
  line-height: 130%; 
}

/* Hover states */
.card-me:hover .card-description-me {
  transform: translateY(100%); 
}

/*SERVICIOS PAGE*/
/*CARDS*/
.servicio {
  width: 190px;
  height: 254px;
  padding: .8em;
  background: #f5f5f5;
  position: relative;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-top: 5vh; 
}

.servicio-img {
  background-color: #e5e6e4;
  height: 40%;
  width: 100%;
  border-radius: .5rem;
  transition: .3s ease;
  display: flex;
  place-content: center;
  position: static; 
}

@supports (object-fit: cover) {
  .servicio-img {
    height: 40%;
    width: 100%;
    object-fit: cover;
    object-position: center center; 
  } 
}

.servicio-info {
  padding-top: 10%; 
}

svg {
  width: 20px;
  height: 20px; 
}

.servicio-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd; 
}

/*Text*/
.servicios-title {
  font-weight: 800;
  font-size: 12;
  line-height: 1.5;
  padding-top: 20px; 
}

.servicio-body {
  font-size: .7em;
  padding-bottom: 27px; 
}

/*Button*/
.card-button {
  border: 1px solid #252525;
  display: flex;
  padding: .3em;
  cursor: pointer;
  border-radius: 50px;
  transition: .3s ease-in-out; 
}

/*Hover*/
.servicio-img:hover {
  transform: translateY(-25%);
  box-shadow: rgba(191, 228, 196, 0.25) 0px 13px 47px -5px, rgba(197, 238, 208, 0.3) 0px 8px 16px -8px; 
}

.servicio-button:hover {
  border: 1px solid #e8dacd;
  background-color: #eee2d6;
  border-style: dashed; 
}

/*TABLA*/
table {
  align-content: center;
  border: #ffffff;
  margin: auto;
  border-collapse: separate;
  border-spacing: 20px 5px; 
}

/*FORMULARIO DE CONTACTO*/
.formulario > h2 {
  font-size: small;
  color: #343a33; 
}

.contact_form {
  width: 460px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #fbfbfb;
  padding-left: 30px; 
}

input {
  background-color: #fbfbfb;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #b0cbab;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px; 
}

textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #b0cbab;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px; 
}

label {
  display: block;
  float: center; 
}

button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #b0cbab;
  border-color: #b0cbab;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer;
  text-align: center;
  text-align-last: center; 
}

/*TITULOS*/
h1 {
  color: #b0cbab;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  padding-bottom: 20px; 
}

h2 {
  color: #b0cbab;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium; 
}

h3 {
  color: #343a33;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: smaller; 
}


  /*ARTICLE*/

article {
  flex: auto;
  margin: 10px 10px;
  padding-right: 300px;
  padding-left: 300px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 100px; 
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
  font-size: smaller;
  display: block; 
}


  /*LISTAS*/
li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
  font-size: smaller; 
}
