/*Boton*/ /*HEADER*/
.navbar-brand img {
  width: 130px;
  height: 60px;
  padding-left: 10px;
}

.container-fluid {
  background: #b0cbab;
  width: 100%;
}

.navbar-toggler img {
  width: 40px;
}

.navbar-light .navbar-toggler {
  color: rgba(174, 136, 136, 0);
  border-color: rgba(0, 0, 0, 0);
}

.navbar-toggler button {
  border-color: none;
  display: inline-block;
  line-height: 80px;
  margin: 0 15px;
}

li a.active, li a:hover {
  background: #a6c0a1;
}

#nav-item a {
  color: #ffffff;
  padding: 7px 13px;
  border-radius: 5px;
}

.navbar-collapse {
  padding-right: 4rem;
  flex-basis: 100%;
  flex-grow: 0;
  align-items: center;
}

/*!!!!! Texto e imagen */
.Introduccion h1 {
  font-size: 40px;
  text-align: center;
  padding-top: 40px;
  font-style: oblique;
  font-weight: bold;
}

.contDeTxt {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.txtChris {
  width: 20rem;
}

/*!!!!! nuevo contenedor de cards */
.contCardIndex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

/*CARDS*/
.card {
  position: relative;
  display: grid;
  place-content: center;
  width: 300px;
  height: 200px;
  align-content: center;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: -ms-flexbox;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5019607843);
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card img {
  width: 300px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 15px;
  color: #333;
  font-weight: 700;
}

.card__description {
  margin: 10px 0;
  font-size: 12px;
  color: #777;
  line-height: 1.4;
  align-items: center;
}

@media (max-width: 768px) {
  /* Index */
  /* Texto de Introduccion */
  .Introduccion h1 {
    font-size: 30px;
    text-align: center;
    padding-top: 40px;
  }
  .txtChris {
    font-size: 12px;
    padding-left: 30px;
  }
  .contDeTxt img {
    width: 300px;
  }
  /* Cartas con animacion*/
  .card {
    position: relative;
    display: grid;
    place-content: center;
    width: 180px;
    height: 180px;
    align-content: center;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: -ms-flexbox;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5019607843);
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .card img {
    width: 222px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
  .card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .card__title {
    margin: 0;
    font-size: 12px;
    color: #333;
    font-weight: 700;
  }
  .card__description {
    margin: 10px 0;
    font-size: 8px;
    color: #777;
    line-height: 1.4;
    align-items: center;
  }
}
.footer-content img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 40px;
}

/*SOBRE MI PAGE*/
.Introduccion-nosotros h1 {
  font-size: 40px;
  text-align: center;
  padding-top: 40px;
  font-weight: bold;
}

.contDeTxt {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.txtChris {
  width: 25rem;
  margin-right: 40px;
}

.Banner-pic img {
  width: 1200px;
  display: block;
  align-items: center;
  padding-left: 50px;
  padding-bottom: 55px;
  padding-top: 20px;
}

@media (max-width: 668px) {
  /* Nosotros Page */
  .contDeTxt img {
    width: 300px;
  }
  .Introduccion-nosotros h1 {
    font-size: 20px;
  }
  .txtChris p {
    font-size: 10px;
  }
  .Banner-pic img {
    width: 600px;
  }
}
/*SERVICIOS PAGE*/
/*CARDS*/
.servicios h1 {
  font-size: 40px;
  text-align: center;
  padding-top: 40px;
  font-weight: bold;
}

.servicio {
  display: block;
  align-items: center;
  flex-wrap: wrap;
  width: 220px;
  height: 280px;
  padding: 0.8em;
  background: #f5f5f5;
  position: relative;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-top: 5vh;
}

.servicio-img {
  background-color: #e5e6e4;
  height: 40%;
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
  display: flex;
  place-content: center;
  position: static;
}

@supports ((-o-object-fit: cover) or (object-fit: cover)) {
  .servicio-img {
    height: 40%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
  }
}
.servicio-info {
  padding-top: 10%;
}

svg {
  width: 20px;
  height: 20px;
}

.servicio-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

/*Text*/
.servicios-title {
  font-weight: 800;
  font-size: 12;
  line-height: 1.5;
  padding-top: 20px;
}

.servicio-body {
  font-size: 0.7em;
  padding-bottom: 3px;
  text-align: justify;
}

/*Button*/
.card-button {
  border: 1px solid #252525;
  display: flex;
  padding: 0.3em;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
}

/*Hover*/
.servicio-img:hover {
  transform: translateY(-25%);
  box-shadow: rgba(191, 228, 196, 0.25) 0px 13px 47px -5px, rgba(197, 238, 208, 0.3) 0px 8px 16px -8px;
}

.servicio-button:hover {
  border: 1px solid #e8dacd;
  background-color: #bbd5ae;
  border-style: dashed;
  border-radius: 50px;
}

@media (max-width: 668px) {
  .servicios h1 {
    font-size: 30px;
    text-align: center;
    padding-top: 40px;
    font-weight: bold;
  }
  .servicio {
    width: 120px;
    height: 220px;
  }
  .servicio-img {
    height: 40%;
    width: 100%;
  }
  @supports ((-o-object-fit: cover) or (object-fit: cover)) {
    .servicio-img {
      height: 40%;
      width: 100%;
    }
  }
  .servicio-info {
    font-size: 10px;
  }
  svg {
    width: 10px;
    height: 10px;
  }
  .servicio-footer {
    font-size: 10px;
    justify-content: space-between;
    align-items: center;
    padding-top: inherit;
  }
  /*Text*/
  .servicios-title {
    font-size: 15px;
  }
  .servicio-body {
    font-size: 0.7em;
    padding-bottom: inherit;
  }
  /*Button*/
  .card-button {
    width: 10px;
  }
}
/*TABLA*/
table {
  align-content: center;
  border: #ffffff;
  margin: auto;
  border-collapse: separate;
  border-spacing: 20px 5px;
}

.proyectos h1 {
  font-size: 40px;
  text-align: center;
  padding-top: 40px;
  font-weight: bold;
}

.proyectos p {
  padding-right: 100px;
}

@media (max-width: 768px) {
  .proyectos p {
    font-size: 12px;
    padding-right: 20px;
  }
  .proyectos h1 {
    font-size: 30px;
  }
  .proyectos h2 {
    font-size: 15px;
    padding-right: 20px;
  }
  .proyectos img {
    width: 350px;
  }
}
/*FORMULARIO DE CONTACTO*/
.formulario h2 {
  font-size: small;
  color: #b0cbab;
  font-weight: bold;
}

.formulario h1 {
  font-weight: bold;
}

.formulario h3 {
  font-weight: bold;
}

.contact_form {
  width: 460px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #fbfbfb;
  padding-left: 30px;
}

input {
  background-color: #fbfbfb;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #b0cbab;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #b0cbab;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
  font-weight: bold;
}

.form-label {
  margin-top: 10px;
  font-weight: bold;
}

label {
  display: block;
  float: center;
}

.form-button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #b0cbab;
  border-color: #b0cbab;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer;
  text-align: center;
  -moz-text-align-last: center;
       text-align-last: center;
  align-content: center;
}

@media (max-width: 768px) {
  .formulario h1 {
    font-size: 20px;
    font-weight: bold;
  }
  .formulario h2 {
    font-size: 12px;
  }
  .formulario h3 {
    font-size: 12px;
    font-weight: bold;
  }
  .contact_form {
    width: 360px;
    align-content: center;
  }
  input {
    font-size: 15px;
    width: 310px;
  }
  textarea {
    font-size: 15px;
    width: 310px;
  }
  .form-button {
    width: 310px;
    place-content: center;
  }
}
/*TITULOS*/
h1 {
  color: #b0cbab;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  padding-bottom: 20px;
}

h2 {
  color: #b0cbab;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
}

h3 {
  color: #343a33;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: smaller;
}

/*ARTICLE*/
article {
  flex: auto;
  margin: 10px 10px;
  padding-right: 300px;
  padding-left: 300px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 100px;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
  font-size: smaller;
  display: block;
}

/*LISTAS*/
li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: smaller;
}/*# sourceMappingURL=main.css.map */