
/*TABLA*/

table{
	align-content: center;
	border: #ffffff;
	margin: auto;
	border-collapse: separate;
	border-spacing: 20px 5px;
}

@media (max-width: 768px) {
 /* Footer */
 footer img {
    height: 40px;
    width: 40px; 
  }
}