
/*SOBRE MI PAGE*/

.Introduccion-nosotros h1{
  font-size: 40px;
 text-align: center;
 padding-top: 40px;
 font-weight: bold;
}


.contDeTxt{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  
}

.txtChris{
  width: 25rem;
  margin-right: 40px;
  
}

.Banner-pic img{
  width: 1200px;
  display: block;
  align-items: center;
  padding-left: 50px;
  padding-bottom: 55px;
  padding-top: 20px;
}


  @media (max-width: 668px) {
  
  /* Nosotros Page */
  .contDeTxt img {
    width: 300px; }
  
    .Introduccion-nosotros h1 {
    font-size: 20px; }
  
    .txtChris p {
    font-size: 10px; }

    .Banner-pic img{
      width: 600px;
    }
    
  }
