/*TABLA*/

table{
    align-content: center;
    border: #ffffff;
    margin: auto;
    border-collapse: separate;
    border-spacing: 20px 5px;
    
}

.proyecto{
text-align: center;
}

.proyectos{
    column-count:2;
    column-gap: 4em;
    column-width: 150px;
    margin-left: 20vh;
    align-content: center;
    margin-bottom: 10vh;
    margin-right: 20vh;
}

.proyecto h1{
    font-size: 40px;
    text-align: center;
    padding-top: 40px;
    font-weight: bold;
}

.proyecto h2{
    font-size: 20px;
    text-align: left;
    padding-top: 20px;
    font-weight: bold;
    font-style: oblique;
    margin-bottom: 15px;
}


.proyectos p{
    margin: auto;
    padding: auto;
    margin-bottom: 15px;
}

.proyectos img{
    width: 450px;
    object-position: center;
    margin: auto;
}

@media (max-width: 768px) {

    .proyectos{
        column-count:1;
        column-gap: 3em;
        column-rule: 1px solid #bbb;
        column-width: 140px;
        margin-left: 10vh;
        margin-right: 10vh;
        margin-bottom: 5vh;
        align-content: center;
    }
    
    .proyectos p{
        font-size: 12px;
        padding-right: 20px;
        align-content: center;
    }

    .proyecto h1{
        font-size: 20px;
    }

    .proyecto h2{
        font-size: 15px;
        padding-right: 20px;
    }

    .proyecto img{
        width: 380px;
        text-align: center;
    }

}