/*FORMULARIO DE CONTACTO*/
.formulario > h2{
    font-size: small;
    color: #343a33;
}

.contact_form{  
    width: 460px; 
  height: auto;
  margin: 80px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 30px; 
}


input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #b0cbab; 
    margin-top: 10px;  
    padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #b0cbab;; 
    margin-top: 10px;  
    padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 

}


label{
  display: block; 
    float: center;  
}


button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;     
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: #b0cbab;; 
    border-color: #b0cbab; 
    border-style: solid; 
    border-radius: 10px;    
    width: 420px;   
  cursor: pointer;
  text-align: center;
  text-align-last: center;
}
