
/*SOBRE MI PAGE*/

.Introduccion-nosotros h1{
  font-size: 40px;
 text-align: center;
 padding-top: 40px;
 font-weight: bold;
}

.contDeTxt{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  
}

.txtChris-nosotros{
  width: 30rem;
    display: block;
    font-size: 12px;
    margin: auto;
    margin-bottom: 10vh;
}

.Introduccion-nosotros img{
  width: 400px;
  display: grid;
  object-position: center;
  margin: auto;
}

.Banner-pic img{
  width: 900px;
  display: block;
  align-items: center;
  padding-left: 50px;
  padding-bottom: 55px;
  padding-top: 20px;
}


  @media (max-width: 668px) {
  
  /* Nosotros Page */
  .contDeTxt img {
    width: 300px; }
  
    .Introduccion-nosotros h1 {
    font-size: 20px; }
  
    .txtChris-nosotros{
    font-size: 10px;
    width: 20rem;
   }

    .Banner-pic img{
      width: 400px;
    }
    
  }
